# space-invaders-actionscript

# Build and Release Folders
bin-debug/
bin-release/
application.xml

# Project property files
.actionScriptProperties
.flexLibProperties
.settings/
.project

*.iml
*.ipr
*.iws
*.DS_STORE
*.as3proj
.idea/
out/
bat/
obj/